<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>WeChatPlugin</string>
	<key>CFBundleIdentifier</key>
	<string>tk.WeChatPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WeChatPlugin</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017年 tk. All rights reserved.</string>
	<key>versionInfo</key>
	<string>v1.7 (2018-05-12)：\n(更新前请务必备份自动回复&amp;远程控制！！) \n👉🏻  新增不同账户设置不同的自动回复&amp;远程控制\n👉🏼  自动回复新增总开关&amp;指定联系人\n👉🏽  远程控制新增控制小助手配置\n👉🏾  新增一键已读\n👉 新增一键清除空回话\n👉🏻  新增国际化(支持英、简、繁)\n👉🏼  新增关于小助手\n👉🏽  新增在线更新小助手  \n👉🏾  去除微信url转链处理(从此直接打开抖音链接🌝 \n👉🏿  修复无法免认证登录&amp;多开等bug \n
</string>
</dict>
</plist>
