<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.1</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017年 tk. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>versionInfo</key>
	<string>v1.6.1 (2018-04-06)：\n👉🏻  自动回复新增延迟回复\n👉🏼  调整置顶模式快捷键\n👉🏽  修复bug &amp; 优化代码\n👉🏾  更新 README.md 文档 \n\n之前版本主要更新内容:\n👉 新增 Alfred 快捷发消息 &amp; 打开聊天窗口\n👉🏻  新增语音远程控制 mac\n👉🏼  优化防撤回提醒 (显示撤回人昵称 &amp; 消息类型)\n👉🏽  新增自动登录开关  \n👉🏾  新增通知中心快捷回复 \n👉🏿  新增表情包复制 &amp; 存储 \n
</string>
</dict>
</plist>
