<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.1</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017年 tk. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>versionInfo</key>
	<string>👉 v1.5.1 (2018-03-03)：\n新增语音远程控制 mac\n修复快捷回复后消息未读数未更新的问题\n优化防撤回提醒 (显示撤回人昵称 &amp; 消息类型) \n\n上版本更新内容(v1.5.0):\n👉🏻  新增自动登录开关 \n👉🏼  新增小助手检测更新 \n👉🏽  新增通知中心快捷回复 \n👉🏾  新增表情包复制 &amp; 存储 \n👉🏿  自动回复 &amp; 远程控制设置存储到本地 \n\n</string>
</dict>
</plist>
